################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library.TaskManager/bin
/Library.TaskManager/obj
/TaskManager/bin
/TaskManager/obj
